<!-- reset_password_confirm.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
</head>
<body>
    <div class="forgot-password">
        <h1>Set New Password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1 }}
            {{ form.new_password2 }}
            <input type="submit" value="Change Password">
        </form>
    </div>
</body>
</html>
